.hero-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0033147047881653124) 72%, rgba(0,212,255,0.350653640362395) 100%); 
}

.heroSectionImage{
    width: 46%;
    margin: 40px;
}

.hero-section h2{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #303030;
}

.w-node{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.whatsappIcon{
    font-size: 1.8rem;
    color: #25D366;
}

.arrowIcon{
    font-size: 1.5rem;
    color: #303030;
}

.w-node p{
    font-size: 1.5rem;
    margin: 0px 10px 0px 10px;
    color: #585858;
    font-style: italic;
}

/* community section */

.community-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    background-color: #FDFCE5;
    padding: 80px 60px;
}

.community-section img{
    width: 30%;
    align-items: center;
    margin-right: 20px;
}

.about-community{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.about-community h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #303030;
    font-style: italic;
}

.about-community p{
    width: 80%;
    height: auto;
    color: grey;
    font-size: 1.1rem;
}

/* experience section */

.experience-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 80px 60px;
}

.experience-section img{
    width: 20%;
}

/* mentor section */

.mentor-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    background-color: #FDFCE5;
    padding: 80px 60px;
}

.mentor-section img{
    width: 30%;
    align-items: center;
    margin-right: 20px;
}

.about-mentor{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.about-mentor h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #303030;
    font-style: italic;
}

.about-mentor p{
    width: 80%;
    height: auto;
    color: grey;
    font-size: 1.1rem;
}

.contributer-link{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 30px;
    cursor: pointer;
}

