.hero-section{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.0033147047881653124) 72%, rgba(0,212,255,0.350653640362395) 100%); 
}

.heroSectionImage{
    width: 45%;
    margin :50px auto 40px auto;
}

.hero-section h2{
    height: auto;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #303030;
    padding: 0px 20px;
    text-align: center;
}

.w-node{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.whatsappIcon{
    font-size: 1.8rem;
    color: #25D366;
}

.arrowIcon{
    font-size: 1.5rem;
    color: #303030;
}

.w-node p{
    font-size: 1.5rem;
    margin: 0px 10px 0px 10px;
    color: #585858;
    text-align: center;
    font-style: italic;
}

/* community section */

.community-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    background-color: #FDFCE5;
    padding: 40px 60px;
}

.about-community{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}

.about-community h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #303030;
    font-style: italic;
}

.about-community p{
    width: 100%;
    height: auto;
    color: grey;
    font-size: 1.1rem;
}

.community-image{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.community-image img{
    max-width: 70%;
    object-fit:cover;
}

/* experience section */

.experience-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 80px 60px;
}

.experience-section img{
    width: 20%;
}

/* mentor section */

.mentor-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 80px;
    /* background-color: #FDFCE5; */
    padding: 80px 60px;
}

.mentor-section img{
    width: 30%;
    align-items: center;
    margin-right: 20px;
}

.about-mentor{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.about-mentor h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #303030;
    font-style: italic;
}

.about-mentor p{
    width: 80%;
    height: auto;
    color: grey;
    font-size: 1.1rem;
}

.contributer-link{
    margin-top: 30px;
    cursor: pointer;
}

.contributer-link:hover{
    color: #000;
    transition: 400ms;
}

@media screen and (max-width: 960px){
    .heroSectionImage{
        width: 70%
    }

    .hero-section h2{
        font-size: 2.4rem;
    }

    .w-node p{
        font-size: 1.3rem;
    }

    .community-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-community{
        width: 100%;
    }
    .community-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    
}

@media screen and (max-width: 460px){
    .hero-section h2{
        font-size: 1.8rem;
    }
    
    .w-node p{
        font-size: 1.1rem;
    }

    .w-node i{
        font-size: 1.2rem;
    }

    .community-section{
        padding: 30px;
    }

}